.god:nth-child(3) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
}

.monday {
    color: red;
    background-color: black;
    margin: 20px;
    margin-bottom: 25px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
}

.tuesday {
    color: blue;
    background-color: yellow;
    margin: 20px;
    margin-bottom: 25px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
}

.wendsdey {
    color: brown;
    background-color: aqua;
    margin: 20px;
    margin-bottom: 25px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
}

.thu {
    color: darkorchid;
    background-color: black;
    margin: 20px;
    margin-bottom: 25px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
}

.friday {
    color: hotpink;
    background-color: greenyellow;
    margin: 20px;
    margin-bottom: 25px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
}
.god:last-child {
    color: aqua;
}
.god:first-child {
    font-size: medium;
}